<div class="chess-box col-sm-8">

    <div class="col-sm-4">
      <div id="chessgame"></div>
      <div class="btn btn-primary" id="board-toggle">Toggle</div>
      <div class="btn btn-primary" id="pgn-reset">Reset</div>
      <div class="btn btn-primary" id="previous-move"> < </div>
      <div class="btn btn-primary" id="next-move"> > </div>
    </div>

    <div class="col-sm-4">
      <div class="chess-notations">
        <div class="chess-headers">

          <div class="players">
            <% if @game.white_player.present? && @game.black_player.present? %>
              <div class="white-player card-notations-header">
                <p>
                  <span><%= @game.white_player.fullname %></span>
                  <span>(<%= @game.white_player.title %>)</span>
                  <%= link_to edit_player_path(@game.white_player) do %>
                    <i class="fas fa-pencil-alt"></i>
                  <% end %>
                </p>
              </div>
              <div class="black-player card-notations-header">
                <p>
                  <span><%= @game.black_player.fullname %></span>
                  <span>(<%= @game.black_player.title %>)</span>
                  <%= link_to edit_player_path(@game.black_player) do %>
                    <i class="fas fa-pencil-alt"></i>
                  <% end %>
                </p>
              </div>
            <% else %>
              <span> <%= @game.name %></span>
            <% end %>

          </div>

          <div class="description collection-card">
            <p> <%= @game.event %> | <%= @game.site %> | <%= @game.date %>  <i class="fas fa-pencil-alt"></i>
            </p>
          </div>
        </div>
        <div class="chess-moves">
          <% @game.plies.each do |ply| %>
            <% if ply.status == "main" %>
              <span> <%= ply.display_move_number %></span>
              <span class="moves"> <%= ply.move  %></span>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
