<div class="chess-box col-sm-8" id="chessbox">
  <% if @game.present? %>
    <div class="board">
      <div id="chessgame"></div>
      <div class="chess-controls">
        <div class="btn btn-primary" id="board-toggle"><img class="touches" src="<%= image_path('rotating.png') %>" alt="play_game"></div>
        <div class="btn btn-primary" id="first-move"><img class="touches" src="<%= image_path('first_move.png') %>" alt="play_game"></div>
        <div class="btn btn-primary" id="previous-move"><img class="touches" src="<%= image_path('backward-arrow.png') %>" alt="play_game"></div>
        <div class="btn btn-primary" id="next-move"><img class="touches" src="<%= image_path('arrow-point-to-right.png') %>" alt="play_game"></div>
        <div class="btn btn-primary" id="last-move"><img class="touches" src="<%= image_path('fast-forward-button.png') %>" alt="play_game"></div>

      </div>
    </div>

    <div class="game-notation">

      <div class="chess-headers">
        <% if game.white_player.present? && game.black_player.present? %>
          <div class="player">
            <p>
              <i class="fas fa-chess-pawn" id="white-pawn"></i>
              <span><%= game.white_player.fullname %></span>
              <%= link_to edit_player_path(game.white_player) do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
            </p>
          </div>
          <div class="player">
            <p>
              <i class="fas fa-chess-pawn" id="black-pawn"></i>
              <span><%= game.black_player.fullname %></span>
              <%= link_to edit_player_path(game.black_player) do %>
                <i class="fas fa-pencil-alt"></i>
              <% end %>
            </p>
          </div>
        <% else %>
          <span> <%= game.name %></span>
        <% end %>
        <div class="chess-description">
          <p> <%= game.event %> | <%= game.site %> | <%= game.date %>  <i class="fas fa-pencil-alt"></i>
          </p>
        </div>
      </div>

      <div class="chess-moves">
        <% game.main_sorted_plies.each do |ply| %>
            <span> <%= ply.display_move_number %></span>
            <span class="moves"> <%= ply.move  %></span>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="empty-collection">
      <div><p> The <strong><%= @collection.name %></strong> collection is empty.</p></div>
      <div><button class="btn btn-primary">Add games</button></div>
    </div>
  <% end %>
</div>

