<div class="chess-box col-sm-8" id="chessbox">
  <div class="pin-right-top">
    <%= link_to search_path, class: "navbar-item navbar-link" do %><i class='fas fa-search'></i> Search for games<% end %>
  </div>
  <% if @game.present? %>
    <div class="board">
      <div id="chessgame"></div>
      <%= render "shared/chess_box_controls" %>
    </div>

    <div class="game-notation">
      <div class="chess-headers">
        <% if game.white_player.present? && game.black_player.present? %>
          <div class="players">
            <div class="player">
              <p>
                <span> <strong><%= game.white_player.fullname %></strong> </span>
              </p>
            </div>
            <div> vs.</div>
            <div class="player">
              <p>
                <span> <strong><%= game.black_player.fullname %></strong>  </span>
              </p>
            </div>
          </div>
          <div class="chess-description">
            <p> <%= game.event %> | <%= game.site %> | Round: <%= game.round %> | <%= game.date %> | <%= game.result %>
            </p>
          </div>
        <% else %>
          <span> <%= game.name %></span>
        <% end %>
      </div>

      <div class="chess-moves">
        <% game.main_sorted_plies.each do |ply| %>
            <span class="moves-bold"> <%= ply.display_move_number %></span>
            <span class="moves moves-bold"> <%= ply.move  %></span>
        <% end %>
        <span class="moves-bold"><%= game.result %></span>
      </div>
    </div>

  <% else %>
    <div class="empty-collection">
      <div><p> The <strong><%= @collection.name %></strong> collection is empty.</p></div>
      <%= link_to newgame_path, remote: true, class: "btn btn-primary" do  %>
        Add games
      <% end %>
    </div>
  <% end %>
</div>

