<div class="game-notation-find">
  <div class="chess-headers">
    <% if game.white_player.present? && game.black_player.present? %>
      <div class="players">
        <div class="player header-box-item-player">
          <span> <strong><%= game.white_player.fullname %></strong> </span>
        </div>
        <div class="header-result header-box-item-result">
          <span> <%= game.result %></span>
        </div>
        <div class="player header-box-item-player">
          <span> <strong><%= game.black_player.fullname %></strong>  </span>
        </div>
      </div>
      <div class="chess-description">
        <%= game.event %> | <%= game.site %> | Round: <%= game.round %> | <%= game.date %>
      </div>
    <% else %>
      <span> <%= game.name %></span>
    <% end %>
  </div>

  <div class="chess-moves">
    <% game.main_sorted_plies.each do |ply| %>
        <% if !ply.display_move_number.blank? %>
          <span class="move-number moves-bold"> <%= ply.display_move_number %></span>
        <% end %>
        <span class="moves moves-bold"> <%= ply.move  %></span>
    <% end %>
    <span class="moves-bold"> <%= game.result %></span>
  </div>
</div>
