<div class="container">
  <%= simple_form_for @game do |f| %>
    <%= f.input :name %>
    <%= f.input :event %>
    <%= f.input :site %>
    <%= f.input :date %>
    <%= f.input :round %>
    <%= f.input :result %>
    <%= f.input :elo_white %>
    <%= f.input :elo_black %>
  <% end %>
</div>


