<div class="results">

  <% if games.present? %>

    <div class="results-header">
      We found <%= games.count %> games!
    </div>

    <div class="results-cards">

      <% games.each do |game| %>

        <%= link_to chessbox_search_path(game),remote: true do %>

          <div class="result-game-card mb-2" data-uid="<%= game[0].id %>" draggable="true">

            <div class="card-title result-game-card-players">

              <div class="drag-icon"><i class="fas fa-grip-horizontal"></i>
              </div>
              <% if game[0].white_player.present? && game[0].black_player.present? %>

                <div class="player">
                  <%= game[0].white_player.last_name %> <%= "(#{game[0].elo_white}) " if game[0].elo_white.present? %>
                </div>

                <div>
                  <span class="search-header-result"><%= " #{game[0].result} " %></span>
                </div>

                <div class="player">
                  <%= game[0].black_player.last_name %> <%= "(#{game[0].elo_black}) " if game[0].elo_black.present? %>
                </div>

              <% else %>

                <span><%= game[0].name %></span>

              <% end %>

            </div>

            <p class="card-text game-card-moves">

              <% array = game[0].main_sorted_plies.map do |ply| %>
                <% "#{ply.display_move_number} #{ply.move} " %>
              <% end %>

              <% if game[1] == 1 %>

                <% string = array.join(" ").split[(game[1]-1)..-1].first(12).join(" ") %>
                <%= start_at_right_move(string) %>

              <% elsif game[1] == 2 %>

                <%= array.join(" ").split[(game[1]-2)..-1].first(12).join(" ") %>

              <% else %>

                <% if game[1].odd? %>

                  <% string = array.join(" ").split[(game[1]-2)..-1].first(14).join(" ") %>
                  <%= start_at_right_move(string) %>

                <% else %>

                  <% string = array.join(" ").split[(game[1]-1)..-1].first(13).join(" ") %>
                  <%= start_at_right_move(string) %>

                <% end %>

              <% end %>

            </p>

          </div>

        <% end %>

      <% end %>

    </div>

  <% elsif @search_fen != @initial_fen %>

    <p>Congrats this position is unique (at least in our database). You might want to try searching from a broader position...</p>

  <% else %>

<!--     <p>Enter a position and hit find games to explore master games.</p> -->

  <% end %>

</div>
