<div class="sidebar-games" id="sidebar-games">

  <div class="sidebar-header">

    <% if @collection == "All games" %>

      <div class="sidebar-games-title">
        <p><%= @collection %></p>
      </div>

    <% else %>

      <div class="sidebar-games-title">
        <p><%= @collection.name %> <span id="game-counter-<%= @collection.id %>"> (<%= @collection.games.count %>)</span></p>
      </div>

    <% end %>

    <div>
      <%= link_to newgame_path(@collection), remote: true, class: "btn btn-bold-outline" do %>
        <i class="fas fa-plus-circle"></i> Add a game
      <% end %>
    </div>

  </div>


  <div class="list-of-games">
    <% games.each do |game| %>
      <%= render "shared/sidebar_game_card", game: game %>
    <% end %>
  </div>
</div>





