<div class="sidebar-games" id="sidebar-games">

  <div class="sidebar-header">
    <% if @collection == "All games" %>
      <div class="sidebar-games-title">
        <p> <%= @collection %></p>
      </div>
      <%= link_to newgame_path(@collection), remote: true do  %>
        <i class="far fa-plus-square" style="color:#1E5772"></i>
      <% end %>
<!--         <i class="far fa-trash-alt" style="color:#1E5772"></i> -->
    <% else %>
      <div class="sidebar-games-title">
        <p> <%= @collection.name %></p>
      </div>
      <%= link_to newgame_path(@collection), remote: true do  %>
        <i class="far fa-plus-square" style="color:#1E5772"></i>
      <% end %>
<!--         <i class="far fa-trash-alt" style="color:#1E5772"></i> -->
    <% end %>
<!--     <%= link_to newgame_path(@collection), remote: true do  %>
      <i class="far fa-plus-square"></i>
    <% end %> -->
  </div>

  <div class="list-of-games">
    <% games.each do |game| %>
      <%= render "shared/sidebar_game_card", game: game %>
    <% end %>
  </div>
</div>





