<div class="col-sm-2" id="sidebar-collection">
  <div class="sidebar-header">
      <p>My collections</p>
  </div>
  <div>
    <% @collections.each do |collection| %>
        <%= link_to filtered_path(collection), remote: true do  %>
          <div class="collection-card" data-uid="<%= collection.id %>">
            <p><%= collection.name %></p>
          </div>
        <% end %>
<!--               <%#= link_to edit_collection_path(collection) do %>
            <i class="fas fa-pencil-alt"></i>
          <%# end %> -->
    <% end %>
  </div>

  <div class="pin-left-bottom">
    <%#= link_to new_collection_path do %>
      <!-- <button data-toggle="modal" data-target="#exampleModal">
        <i class="fas fa-folder-plus" style="color:#1E5772"></i>
      </button> -->
      <i class="fas fa-folder-plus" data-toggle="modal" data-target="#exampleModal"" style="color:#1E5772"></i>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New collection</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= render "shared/form_collection" %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <!-- <button type="button" class="btn btn-primary">Save</button> -->
            </div>
          </div>
        </div>
      </div>
    <%# end %>
  </div>

  <%= form_tag tags_path, id: "autoform", method: :post, remote: true do  %>
    <%= text_field_tag(:chosen_collection) %>
    <%= text_field_tag(:chosen_game) %>
    <%= submit_tag("valider",id: "submit-button") %>
  <% end %>

</div>
