<div class="banner" style="background-image: url(<%= image_path('chessrisebanner.png') %>);">
  <div class="pin-right-top">
    <% if user_signed_in? %>
        <%= link_to "Jump in", collections_path, class: "btn btn-bold-outline btn-sm", style: 'width: 82px' %>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-bold-outline btn-sm" %>
    <% end %>
  </div>

  <div class="banner-content">
    <!-- <h1>ChessRise</h1> -->
    <p><span id="banner-typed-text"></span></p>
    <%#= link_to "Jump in", collections_path, class: "btn btn-primary" %>
  </div>
</div>

<div class= "wrapper-white">

  <div class= "container">
    <div class="content-description">
      <h1><strong>A simple tool for complex games</strong></h1>
      <p>
        What if you could replay your game? and for each move see the one that the great masters played in this position... Now you can, with ChessRise.. New features in progress ;-)
      </p>
    </div>

    <div class="row" style= "margin: 15px auto 30px auto;">

      <div class="col-xs-12 col-sm-4">
        <div class="card-feature">
          <img class="card-home" src="<%= image_path('folder.svg') %>" alt="">
          <p>Create collections</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-feature">
          <img class="card-home" src="<%= image_path('report.svg') %>" alt="">
          <p>Analyze games</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-feature">
          <img class="card-home" src="<%= image_path('database.svg') %>" alt="">
          <p>More than 2M games.. </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class= "wrapper-grey">
  <div class= "container">
    <div class="testimonies-content-description">
      <h1><strong>A modern tool for modern players</strong></h1>
      <p>See your games in a beautiful format on any device.<br> Elegant and easy on the eyes, now you can focus on your Game. <br>No distractions, no ads (not yet ;-)), only the essentials to improve your game. <br>See for yourself :<br>
      </p>
      <div class="w-100 p-3 card-feature" style="background-color: #eee;">
        <img src="<%= image_path('playgame_screen.png') %>" style="max-width: 100%; max-height: 100%;" alt="">
      </div>
    </div>
  </div>
</div>

