<div class="wrapper-white">
  <div class="container-fluid">
    <div class="row">

      <%= render "shared/sidebar_collection" %>

      <div class="col-sm-10 search-page-box">
        <div class="pin-right-left">
          <p class="search-title">Search games by position</p>
          <p class="search-description">Drag pieces on the board and hit find games to explore master games.</p>
          <p class="search-description">You can then save games you like by drag-&-dropping them into the collection of your choice.</p>
        </div>

        <div id="chessgame-board">
          <div id="chessgame-find"></div>
          <div id="fen" data-fen="<%=@search_fen%>"></div>
          <div id="moves" data-moves="<%= @moves_string %>"></div>

          <div class="chessboard-buttons">
            <%= link_to search_path, class: "btn reset-button" do %> Reset<% end %>

          <% if @search_fen == @initial_fen && @games.nil? %>
            <div class="find-button">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token, id: "token" %>
              <button id="find-game-button" class="btn btn-primary">Find games</button>
            </div>
          <% end %>

          </div>

        </div>

        <div class="search-notation">

          <div class="search-input">

            <div class="search-input-notation">
              <div class="search-headers">

                  <p>Your moves</p>

<!--                   <% if @moves.present? %>

                    <% @moves.each_with_index do |move, index| %>

                      <% if (@moves.count % 2).zero? %>
                        <span class="smaller-font italique">It's White Player's turn to play.</span>
                      <% else  %>
                        <span class="smaller-font italique">It's Black Player's turn to play.</span>
                      <% end %>

                    <% end %>

                  <% else %>
                    <span class="smaller-font italique">It's Black Player's turn to play.</span>
                  <% end %> -->

              </div>

              <div class="moves-input">
                <div class="chess-moves">
                  <% if @moves.present? %>
                    <% @moves.each_with_index do |move, index| %>
                      <% if (index % 2).zero? && index == 0 %>
                        <span class="move-number moves-bold">1</span>
                      <% elsif (index % 2).zero? && index != 0  %>
                        <span class="move-number moves-bold"> <%= "#{(index + 3) / 2}" %> </span>
                      <% end %>
                      <span class="moves moves-bold"><%=move%></span>

                    <% end %>
                    <% else %>
                      No moves entered.
                  <% end %>
                </div>
              </div>
            </div>


          </div>

          <div id="chessbox-search">
          </div>
        </div>

        <% if @games.nil? %>
          <div class="empty-results"></div>
        <% else %>
          <div id="search-results">
            <%= render "shared/search_results", games: @games %>
          </div>
        <% end %>

      </div>


    </div>
  </div>
</div>













